@import "./../../index.css";

.container{
    height: 500px !important;
    @apply min-w-full  overflow-hidden relative;
}

.imageContainer{
    transition-duration: 1s;
    @apply  w-full h-full  transition sm:pt-40 pt-60 pl-15;
}

.imagesContainer{
   @apply flex min-h-full;
}


.selector{
    transition: all ease 600ms;
    @apply h-2 rounded-full ;
}
