@import "tailwindcss";
@import "./config/styleColors.css";
@import "./config/styleFont.css";
@import "./config/styleClass.css";

h1, h2 {
  font-family: var(--font-title-family);
  font-size: var(--font-title-size);
  font-weight: var(--font-title-weight);
}

.movie-title, .series-title {
  font-family: var(--font-title-family);
}

.section-title {
  font-family: var(--font-title-family);
}

.description-text {
  font-family: var(--font-body-family);
  font-size: var(--font-body-size);
  font-weight: var(--font-body-weight);
}

nav {
  font-family: var(--font-link-family);
  font-size: var(--font-link-size);
  font-weight: var(--font-link-weight);
}

.user-info {
  font-family: var(--font-body-family);
  font-size: var(--font-body-size);
  font-weight: var(--font-body-weight);
}

footer {
  font-family: var(--font-body-family);
  font-size: var(--font-body-size);
  font-weight: var(--font-body-weight);
}


html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    overflow-y: auto; 
}

main {
    min-height: 100vh;
    overflow: visible; 
}



body {
    @apply bg-background-dark text-white flex flex-col  ;
}






main > * {
    max-height: none !important;
    height:fit-content;
}

input[type="password"]::-ms-reveal {
    display: none;
}

.thin-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
}

.thin-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
