@import "tailwindcss";
@import "./config/styleColors.css";
@import "./config/styleFont.css";
@import "./config/styleClass.css";


html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    overflow-y: auto; 
}

main {
    min-height: 100vh;
    overflow: visible; 
}



body {
    @apply bg-background-dark text-white flex flex-col  ;
}






main > * {
    max-height: none !important;
    height:fit-content;
}

input[type="password"]::-ms-reveal {
    display: none;
}

.thin-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
}

.thin-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
